<section class="subscribe line bg-white-bar pad-lv6 pad-lr0 pad-b0">
    <div class="content lastUnit size1of2 centered pad-lv4 pad-lr0">

        <!-- SUBSCRIPTION FORM -->
        <h2 class="alignc fwl">Subscribe to The UX Newsletter</h2>

        <div class="subscribe-form-wrapper open">
            <!-- <div class="intro below48">
                <p class="full-width alignc">Tales of researching, designing, and building from <a href="http://www.twitter.com/mailchimpux">@MailChimpUX</a></p>
            </div> -->

            <div id="mc_embed_signup" class="below30">
                <form action="//mailchimp.us5.list-manage.com/subscribe/post-json?u=7e093c5cf4&amp;id=ef8cc474cd&amp;c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <ul class="centered">
                            <li class="nomargin">
                                <div class="field-wrapper">
                                    <label for="mce-EMAIL" class="hide">Email</label>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" autofocus="" placeholder="Email">
                                </div>
                            </li>

                            <li class="nomargin">
                                <div class="field-wrapper">
                                    <label for="mce-FNAME" class="hide">First Name </label>
                                    <input type="text" value="" name="FNAME" id="mce-FNAME" placeholder="Name">
                                </div>
                            </li>
                            <li class="nomargin">
                                <div class="field-wrapper">
                                    <label for="mce-LNAME" class="hide">Last Name</label>
                                    <input type="text" value="" name="LNAME" id="mce-LNAME" placeholder="Last name">
                                </div>
                            </li>
                            <li>I’m a …</li>
                            <li>
                                <input aria-hidden="true" type="checkbox" value="2" name="group[9933][2]" id="mce-group[9933]-9933-0" class="checkbox developer nomargin">
                                <label for="mce-group[9933]-9933-0" aria-label="Select if you are a Developer">Developer</label>
                            </li>
                            <li class="pad-r0">
                                <input aria-hidden="true" type="checkbox" value="1" name="group[9933][1]" id="mce-group[9933]-9933-1" class="checkbox designer nomargin">
                                <label for="mce-group[9933]-9933-1" aria-label="Select if you are a Designer">Designer</label>
                            </li>
                            <li>
                                <input aria-hidden="true" type="checkbox" value="4" name="group[9933][4]" id="mce-group[9933]-9933-2" class="checkbox researcher nomargin">
                                <label for="mce-group[9933]-9933-2" aria-label="Select if you are a Researcher">Researcher</label>
                            </li><li class="pad-r0">
                                <input aria-hidden="true" type="checkbox" value="8" name="group[9933][8]" id="mce-group[9933]-9933-3" class="checkbox other nomargin">
                                <label for="mce-group[9933]-9933-3" aria-label="Select if you are something other than a developer, designer, or researcher">Other</label>
                            </li>
                            <li>
                                <div class="field-wrapper">
                                    <div style="position: absolute; left: -5000px;">
                                        <input aria-hidden="true" type="text" name="b_7e093c5cf4_ef8cc474cd" tabindex="-1" value="">
                                    </div>
                                    <button class="button" tabindex="0" name="subscribe" id="mc-embedded-subscribe">subscribe</button>
                                </div>
                                <div class="field-wrapper">
                                    <div id="notification_container"></div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
