<!DOCTYPE html>
<html>
    <head>
    {% include head.html %}
    </head>
    <body>
        <article class="wrap" id="top">
            <div class="subscribe-shortcut" aria-hidden="true">
                <div class="content">
                    <p>Subscribe</p>
                </div>
            </div>
            <main class="main" role="main">
                <nav class="nav" role="navigation">
    <div class="content">
        <div class="line">
            <div class="size1of1 lastUnit nopadding">
                <!-- LOGO -->
                <div class="mclogo alignc">
                    <a href="/">MailChimp</a>
                </div>
            </div>
        </div>

        <!-- SHARED NAV -->

    </div>
</nav>
                
<section class="subscribe">
    <div class="content">
        <!-- SUBSCRIPTION FORM -->
        <h2 class="h alignc">Subscribe to The&nbsp;UX&nbsp;Newsletter</h2>

<div class="subscribe-form-wrapper open">

    <!-- INTRO -->
    <div class="intro">
        <p>Tales of researching, designing, and building from <a href="http://www.twitter.com/mailchimpux">@MailChimpUX</a></p>
    </div>

    <div id="subscribe-form" class="alignc pad-lv3">
        <a class="button" href="http://www.theuxnewsletter.com/">subscribe</a>
    </div>
</div>

    </div>
</section>

<section class="past-issues" id="past-issues">
    <div class="content">

        {{ content }}

    </div>
</section>
{% include footer.html %}